{% extends "meta/_layout.twig" %}

{% block title %}Contact Us{% endblock %}

	{% block content %}
        <div class="pageIntro">PokTwo is located somewhere in North America.
            <br><br>If you have questions or comments for us, please contact us at [email placeholder]
        </div>
    {% endblock %}
