{% extends "_layout.twig" %}

{% block title %}Contact Us{% endblock %}

	{% block content %}
<div class="pageTitle">Contact Us</div>

<div class="pageTable">

<div class="pageIntro">PokTwo is located in Quebec, Canada.
<br><br>If you have questions or comments for us, please contact us at [email placeholder]</div>
</div>
	{% endblock %}
