<h1>Subscription preferences</h1>
<p>If you're reading this, then we haven't done that shit.<br>
Anyways, this might had something to do with notifications<br>
in which there's no way in hell we'd implement that. lol.</p>