<div class="watch7-hovercard yt-uix-clickcard-content">
	<h3 class="watch7-hovercard-header">Sign in to pokTwo</h3>
	<div class="watch7-hovercard-message">
		Sign in with your ChazizGRKB Account
		to {{ action }} <span class="yt-user-name  g-hovercard" dir="ltr" data-ytid="{{ user }}">{{ user }}</span>'s {{ type }}.

	</div>
	<ul class="watch7-hovercard-icon-strip clearfix">
		<li class="watch7-hovercard-icon">
			<div class="watch7-hovercard-chaziz-icon"></div>
		</li>
	</ul>
	<div class="watch7-hovercard-account-line">
		<a href="login.php"
			class="yt-uix-button   yt-uix-sessionlink yt-uix-button-primary yt-uix-button-size-default"
			data-sessionlink="ei=f4DAUq3_OImVkgLEuICgAw"><span class="yt-uix-button-content">Sign in </span></a>
	</div>
</div>