{% if log %}
	<td>Hello, <a href="/profile.php?user={{ userdata.name }}">{{ userdata.name }}</a>!</td>
	<td style="padding: 0px 5px 0px 5px;">|</td>
	<td><a href="/logout.php">Logout</a></td>
	<td style="padding: 0px 5px 0px 5px;">|</td>
	<td><a href="/help.php">Help</a></td>
{% else %}
	<td><a href="signup.php" class="bold">Sign Up</a></td>
	<td>&nbsp;|&nbsp;</td>
	<td><a href="login.php">Log In</a></td>
	<td>&nbsp;|&nbsp;</td>
	<td><a href="help.php">Help</a>&nbsp;</td>
{% endif %}